/* fonts  */
  @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@500;900&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.flex{ 
    display: flex;
}
.container{ 
    width: 1170px;
    margin: 0 auto;
    /* outline: 1px solid red;   */
    padding: 0 30px;
}
a{ 
    text-decoration: none;
    color: inherit;
}
ul{ 
    list-style-type: none;
}
.non-margin{ 
    margin: 0;
}
.non-padding{ 
    padding: 0;
}
 /* header main page  */
 header{ 
    background: #FFF;
    flex-shrink: 0;
    align-items: center;
    margin-top: 0;
 }
 .nav-bar{ 
    align-items: center;
    padding: 16px;
 }
 .web-span-for-logo{
    color: #2196F3;
    font-family: "Raleway";
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
 }
 .logotype{ 
    color: #000;
    font-family: "Raleway";
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
 }
 .list-pages, .contacts-list{ 
    gap: 50px;
    margin: 0;
 }
.list-pages-items{ 
    color: #212121;
    font-family: "Roboto";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
}
.active{ 
    color: #2196F3;
}
.list-pages-items a:hover, .contacts-list-item:hover{ 
    cursor: pointer;
    color: #2196F3;
}
.contacts{ 
    margin-left: 255px;
}
.contacts-list-item{ 
    color: #757575;
    font-family: "Roboto";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
}     


/* Section-1  */

.background-section-1{ 
    height: 600px;
    flex-shrink: 0;
    background: url(img/back-section-hero.png) no-repeat;
    margin: 0;
    padding: 0;
}

.section-1 h2{ 
    color: #FFF;
    font-family: "Roboto";
    text-align: center;
    font-size: 44px;
    font-style: normal;
    font-weight: 900;
    line-height: 60px; 
    letter-spacing: 2.64px;
    text-transform: uppercase;
    margin: 0;
    justify-content: center;
    padding-top: 200px;
}
.button-wrapp{ 
    justify-content: center;
    margin-top: 30px;
}
.button-section-1{ 
    width: 216px;
    height: 50px;
    border: none;
    border-radius: 4px;
    background: #2196F3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 187.5% */
    letter-spacing: 0.96px;
    cursor: pointer;
}

    /* Section-2  */
.background-white{ 
    background: #FFF;
    margin: 0;
    padding: 0;
}
.section-2{ 
    margin-top: 244px;
}
.list-section-2{
    gap: 30px;
    justify-content: space-around;
}
.list-section-2-item{ 
    position: relative;
}
.list-section-2-item:nth-child(1):before{ 
    content: "";
    display: block;
    width: 270px;
    height: 120px;
    flex-shrink: 0;
    border-radius: 4px;
    background: #F5F4FA;
    background-image: url('img/sprite.svg#antenna'); 
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: -150px; 
    left: 50%;
    transform: translateX(-50%); 
    z-index: -1;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}
.list-section-2-item:nth-child(2):before{ 
    content: "";
    display: block;
    width: 270px;
    height: 120px;
    flex-shrink: 0;
    border-radius: 4px;
    background: #F5F4FA;
    background-image: url('img/sprite.svg#clock'); 
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: -150px; 
    left: 50%;
    transform: translateX(-50%); 
    z-index: -1;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}
.list-section-2-item:nth-child(3):before{ 
    content: "";
    display: block;
    width: 270px;
    height: 120px;
    flex-shrink: 0;
    border-radius: 4px;
    background: #F5F4FA;
    background-image: url('/img/diagramm.svg'); 
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: -150px; 
    left: 50%;
    transform: translateX(-50%); 
    z-index: -1;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}
.list-section-2-item:nth-child(4):before{ 
    content: "";
    display: block;
    width: 270px;
    height: 120px;
    flex-shrink: 0;
    border-radius: 4px;
    background: #F5F4FA;
    background-image: url('/img/austronaut.svg'); 
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: -150px; 
    left: 50%;
    transform: translateX(-50%); 
    z-index: -1;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}
.list-section-2-item h3{ 
    flex-shrink: 0;
    width: 270px;
    color: #212121;
    font-family: "Roboto";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}
.list-section-2-item p{ 
    width: 270px;
    height: 72px;
    flex-shrink: 0;
    color: #757575;
    font-family: "Roboto";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.42px;
}

    /* Section-3  */
.section-3{ 
    padding-top: 118px;
    padding-bottom: 50px;
}
.section-3 h2{ 
    color: #212121;
    text-align: center;
    font-family: "Roboto";
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
}
.list-section-3{ 
    justify-content: space-between;
    gap: 30px;
    margin: 0;
    padding: 0;
}
.list-section-3 img{ 
    width: 370px;
    height: 294px;
    flex-shrink: 0;
}

/* Sectio-4 */  
.backgroundF5F4FA{ 
    background: #F5F4FA;
}
.section-4 h2{ 
    color: #212121;
    text-align: center;
    font-family: "Roboto";
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
    padding-top: 94px;
}
.list-section-4{ 
    justify-content: space-between;
    margin: 0;
    padding: 0;
    padding-bottom: 94px;
}
.list-section-4-item{ 
    width: 270px;
    height: 428px;
    flex-shrink: 0;
    border-radius: 0px 0px 4px 4px;
    background: #FFF;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}
.list-section-4-item img{ 
    padding: 0;
    margin: 0;
}
.list-section-4-item:hover{ 
    transform: scale(1.1);
    transition: 1s;
}
.list-section-4-item:not(:hover){ 
    transition: 1s;
}
.list-section-4-item h3{ 
    color: #212121;
    text-align: center;
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.48px;     
    margin: 0;
    padding-top: 30px;
}
.list-section-4-item p{ 
    color: #757575;
    text-align: center;
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.48px;
}
    /* Footer  */

.black-baground{ 
    background: rgba(47, 48, 58, 1);
    flex-shrink: 0;
    padding-top: 60px;
}
.footer-logo{ 
    color: #FFF;
    font-family: "Raleway";
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
    margin-bottom: 20px;
}
address{ 
    color: #FFF;
    font-family: "Roboto";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.42px;
    margin-bottom: 9px;
}
.contacts-list-footer{ 
    padding-top: 9px;
    flex-direction: column;
}
.contacts-list-item-footer{ 
    color: #757575;
    font-family: "Roboto";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    margin: 0;
}       



   /* =======================================================PAGE 2=======================================================  */

/* Section-1  */ 
.section-1-page-2{ 
    margin-top: 94px;
}
.list-section-1-page-2{ 
    gap: 8px;
    justify-content: center;
}
.list-section-1-page-2-item input{ 
    width: 125px;
    height: 38px;
    border-radius: 4px;
    background: #F5F4FA;
    flex-shrink: 0;
    color: #212121;
    text-align: center;
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; /* 162.5% */
    letter-spacing: 0.48px;
    cursor: pointer;
    border: none;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}
.list-section-1-page-2-item input:hover{ 
    color: #FFF;
    text-align: center;
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; /* 162.5% */
    letter-spacing: 0.48px;
    background: #2196F3;
    transition: 0.3s;
}

/* Section-2  */
.section-2-page-2{
    margin-bottom: 94px;
}
.list-section-2-page-2{ 
    margin: 0;
    padding: 0;
    margin-top: 56px;
    flex-wrap: wrap;
    gap: 27px;
}
.list-section-2-page-2-item{ 
    width: 370px;
    height: 404px;
    flex-shrink: 0;
    border: 1px solid #EEE;
    background: #FFF;
    flex-basis: calc((100% - 2 * 30px) / 3);
}
.list-section-2-page-2-item img{ 
    width: 370px;
    height: 294px;
    flex-shrink: 0;
}
.list-section-2-page-2-item h3{
    color: #212121;
    font-family: "Roboto";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px; /* 200% */
    letter-spacing: 1.08px;
    margin-left: 24px;
}
.list-section-2-page-2-item p{ 
    color: #757575;
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 187.5% */
    letter-spacing: 0.48px;
    margin-left: 24px;
}


.social-svg-wrapper{ 
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.social-svg{ 
    width: 44px;
    height: 44px;
    border: 1px solid black;
    border-radius: 50%;
}
#1-social { 
    background: url(/img/sprite.svg#instagram);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#2-social { 
    background: url(/img/sprite.svg#facebook);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#3-social{ 
    background: url(/img/sprite.svg#facebook);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#4-social{
    background: url(/img/sprite.svg#linkedin);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}